:root {
  /*color*/
  --blue-color: #0067a3;
  --white-color: white;
  --black-color: black;
  --lightgray-color: lightgray;
  --text-color: #777;

  /*size*/
  --padding: 12px;
  --large-padding: 24px;

  /*font size*/
  --font-large: 18px;
  --font-xLarge: 24px;
  --font-xxLarge: 36px;
  --font-medium: 14px;
  --font-small: 12px;
  --font-micro: 10px;
}

html,
body {
  font-family: "Noto Sans KR", sans-serif;
  font-size: var(--font-large);

  height: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box; /*박스 내부 여백과 테두리 포함*/
}

.header {
  height: auto;
}

.header .h {
  color: var(--white-color);
  display: flex;
  background-image: url(image/background.jpg);
  /*background-color: var(--blue-color);*/
  background-size: cover;
  background-position: center;
  justify-content: center;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.5); /*배경 그림자*/
  height: 200px;

  align-items: center;
}
.header .logIn {
  color: var(--white-color);
  position: absolute;
  top: 0;
  right: 0;
  padding: var(--padding);
  text-decoration: none;
}
.header .logIn i {
  padding-right: var(--padding);
}

.header .h i {
  font-size: var(--font-xxLarge);
  color: var(--white-color);
  padding: var(--padding);
}

.nav {
  width: 100%;
  position: sticky;
  top: 0;
  background-color: var(--white-color);
}

.nav div {
  width: 1000px;
  margin: 0 auto;
  border-bottom: 1px solid var(--black-color); /*지우기*/
  display: flex;
  justify-content: space-around;
  padding: var(--padding);
}

.nav div a {
  text-decoration: none;
  color: var(--black-color);
  margin: 0 auto;
}

.nav div a:hover {
  color: var(--blue-color);
  font-weight: bold;
  transform: scale(1.1);
}

.cont1 {
  color: var(--text-color);
  padding: var(--large-padding);
  width: 1000px;
  margin: 0 auto;
  border-bottom: 1px solid var(--lightgray-color);
  text-align: center;
  display: flex;
}

.cont1 .subNav {
  float: left;
  width: 200px;
  height: auto;
  text-align: left;
}
.cont1 .subNav h3 {
  color: var(--white-color);
  padding: var(--padding);
  background-color: var(--blue-color);
  margin: 0%;
  border: 1px solid var(--lightgray-color);
}

.cont1 .subNav ul {
  margin: 0;
  padding: 0;
}
.cont1 .subNav li {
  padding: var(--padding);
  list-style: none;
  border: 1px solid var(--lightgray-color);
}
.cont1 .subNav li a {
  text-decoration: none;
  color: var(--text-color);
  font-weight: bold;
}

.cont1 .subNav li a:hover {
  color: var(--blue-color);
}
.cont1 .subNav li i {
  padding-right: var(--padding);
}

.cont1 div {
  float: right;
  width: 750px;
  padding: 0 var(--large-padding);
}

.cont1 div h1 {
  color: var(--black-color);
  text-align: left;
  margin: 0;
  border-bottom: 1px solid var(--lightgray-color);
  padding-bottom: var(--padding);
}

.cont1 div .cont1_1 {
  width: 100%;
  padding: var(--large-padding) 0;
}

.cont1 .img1 {
  width: 400px;
  text-align: center;
}

/*Section 2*/
.cont2 {
  background-image: url(image/background2.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-bottom: 1px solid var(--black-color);
  height: 100%;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.3); /*배경 그림자*/

  text-align: center;
  color: var(--white-color);
  padding: var(--large-padding);
}
.cont2 .h {
  color: var(--white-color);
  display: flex;

  align-items: center;
}
.cont2 .h i {
  font-size: var(--font-xxLarge);
  color: var(--white-color);
  padding: var(--padding);
}

.cont2 .content {
  margin-bottom: var(--font-xxLarge);
  font-size: var(--font-xxLarge);
  padding-bottom: var(--large-padding);
}
.cont2 .table {
  display: table;
  table-layout: fixed;
  justify-content: center;
  width: 1200px;
  margin: 0 auto;
  height: auto;
}
.cont2 .table .main {
  display: table-cell;
}
.cont2 .table .main .span1 {
  height: 624px;
  color: var(--white-color);
  margin-left: var(--large-padding);
  margin-bottom: var(--large-padding);
  border-radius: 20px;
  background-image: url(image/building.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
  text-align: left;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.cont2 .table .main .span1:hover {
  transform: scale(1.1);
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
}

.cont2 .table .main .span1 .cont2_1 {
  flex: 1;
}
.cont2 .table .main .span1 .cont2_12 {
  height: 200px;
  border-radius: 0 0 20px 20px;
  background-color: var(--white-color);
  text-decoration: none;
}

.cont2 .table .span {
  /*width: 300px;*/
  height: 300px;
  color: var(--white-color);
  margin-left: var(--large-padding);
  margin-bottom: var(--large-padding);
  border-radius: 20px;
  text-align: left;
}
.cont2 .table .span > div:hover {
  transform: scale(1.1);
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
}

.cont2 .table .span .station {
  height: 100%;
  background-image: url(image/charging_station.jpeg);
  background-position: center;
  background-size: cover;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.cont2 .table .span .station1 {
  flex: 1;
}
.cont2 .table .span .station2 {
  height: 100px;
  background-color: var(--white-color);
  border-radius: 0 0 20px 20px;
  text-decoration: none;
}

.cont2 .table .span .machine {
  height: 100%;
  background-image: url(image/chaging_machine.jpg);
  background-position: center;
  background-size: cover;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.cont2 .table .span .machine1 {
  flex: 1;
}
.cont2 .table .span .machine2 {
  height: 100px;
  background-color: var(--white-color);
  border-radius: 0 0 20px 20px;
  text-decoration: none;
}

.cont2 .table .span .QnA {
  height: 100%;
  background-image: url(image/QnA.jpg);
  background-position: center;
  background-size: cover;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.cont2 .table .span .QnA1 {
  flex: 1;
}
.cont2 .table .span .QnA2 {
  height: 100px;
  background-color: var(--white-color);
  border-radius: 0 0 20px 20px;
  text-decoration: none;
}
.cont2 .table .span .etc {
  height: 100%;
  background-color: var(--white-color);
  background-image: url(image/news.png);
  background-position: center;
  background-size: cover;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.cont2 .table .span .etc1 {
  flex: 1;
}
.cont2 .table .span .etc2 {
  height: 100px;
  background-color: var(--white-color);
  border-radius: 0 0 20px 20px;
  text-decoration: none;
}

.cont2 .cardT {
  color: var(--blue-color);
  margin: 0;
  padding: var(--padding);
}

.cont2 .cardT:hover {
  text-decoration: underline;
}

.cont2 .cardC {
  color: var(--blue-color);
  margin: 0;
  padding: 0 var(--large-padding);
  word-break: break-all;
  overflow: hidden;
}

.cont2 .cardC:hover {
  text-decoration: underline;
}

/*Section3*/
.cont3 {
  width: 1000px;
  margin: 0 auto;
  height: 100%;
}

.footer {
  height: 20%;
  background-color: var(--lightgray-color);
  color: var(--white-color);
  display: flex;
  justify-content: center;
  align-items: center;
}
